.activity-wrapper {
  padding: 20px 20px 0;
  background-color: #f2f2f2;
}

.activity {
  display: block;
  font-size: 0;
}

.activity p {
  position: absolute;
  color: #FFF;
  font-size: 2.4rem;
  top: 70px;
  left: 20px;
}

h1, h2, p {
  box-sizing: content-box;
}

.activity img {
  width: 100%;
}