.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
}

.swipe-wrap .swipe-item {
  float: left;
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 0;
}

.swipe-wrap img {
  width: 100%;
}

fieldset, img {
  border: 0;
}

.swipe-option {
  position: absolute;
  bottom: 1.6rem;
  left: 50%;
}

.swipe-option li {
  float: left;
}

.swipe-option i {
  margin: 0 0.6rem;
  float: left;
  font-size: 1rem;
  color: rgba(255,255,255,0.5);
  cursor: pointer;
}

.fa {
   display: inline-block;
   font: normal normal normal 14px/1 FontAwesome;
   font-size: inherit;
   text-rendering: auto;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

.fa-circle:before {
  content: "\f111";
}

.fa-circle-thin:before {
  content: "\f1db";
}