.nav {
  border-top: #e6e6e6 1px solid;
  background-color: #ffffff;
}

.nav .row {
  border-bottom: #e6e6e6 1px solid;
}

.row {
  zoom: 1;
}

.row:before, .row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.nav .col-4 {
  border-right: #e6e6e6 1px solid;
  text-align: center;
}

.nav .col-4 a {
  display: block;
  font-size: 1.4px;
  color: #333;
}
.col-4 {
  width: 33.33333333333333%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11 {
  float: left;
}

a {
  text-decoration: none;
}

.nav .col-4 .nav-desc {
  height: 40px;
}
h1, h2, p {
  box-sizing: content-box;
}

.nav .col-4 .nav-icon img {
  width: 25%;
  margin-top: 30px;
}
fieldset, img {
  border: 0;
}