.header-wrapper {
  z-index: 9999;
}

.header {
  height: 60px;
  border-bottom: #ececec 1px solid;
  background-color: #fff;
}

.headerbar {
  z-index: 9999;
}

.header-left {
  float: left;
  height: 60px;
}

.header-right {
  float: right;
  width: 60px;
  height: 60px;
  text-align: center;
}

.header-left img {
  width: 80px;
  margin-left: 10px;
  margin-top: 24px;
}

.header-right img {
  width: 24px;
  margin-top: 20px;
}

.menu {
  position: absolute;
  width: 100%;
  -webkit-transform: translate3d(0, -140%, 0);
  -ms-transform: translate3d(0, -140%, 0);
  -o-transform: translate3d(0, -140%, 0);
  transform: translate3d(0, -140%, 0);
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background-color: #fff;
  z-index: 9998;
}

a.menu-icon img{width: 45%}
a.menu-icon .col-3{text-align: center}

.menu-icons {
  text-align: center;
  background-color: #eee;
}