.social-wrappe {
  padding: 0 20px;
  background-color: #f2f2f2;
}

.social {
  position: relative;
  background-color: #FFF;
  padding: 20px;
}

.clearfix {
  display: block;
}

.social h1 {
  position: absolute;
  top: 25px;
  display: inline-block;
  font-size: 16px;
  color: #214059;
}

.social ul {
  float: right;
  width: 68%;
}

ol, ul {
  list-style: none;
}

.social li {
  float: left;
  width: 25%;
}

.social-weixin {
  position: relative;
}

.social li a {
  display: block;
  width: 76%;
}

.social li img {
  width: 100%;
}

.social .pop {
  position: absolute;
  display: none;
  top: -86px;
  left: 50%;
  margin-left: -96px;
  width: 180px;
  height: 80px;
  background-size: 180px 80px;
  background-image: url(img/pop.png);
  text-align: center;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}